<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- configure the repository bean-->
    <bean id="todoRepository" class="paypal.repository.TododRepositoryImpl"/>
    

	<!-- configure the service bean -->
	<bean id="todoService" class="paypal.services.TodoServiceImpl" autowire="constructor">
	
		<!-- assembly  -->
		<!-- setter dependency injetion -->
		<!-- <property name="todoRepository" ref="todoRepository"/> -->
		<!-- constructor dependency injection -->
		<!-- <constructor-arg name="todoRepository" ref="todoRepository"/> -->
	</bean>
</beans>